DISCORD_TOKEN=token_privado_del_bot
CLIENT_ID=id_de_la_aplicacion_de_discord
SONIABOT_STATS_API_URL=https://soniabot.playorch.tech
SONIABOT_EVENT_INGEST_TOKEN=el_mismo_valor_que_EVENT_INGEST_TOKEN_de_la_web
