CLIENT_ID=1540939068693544992
CLIENT_SECRET=pon_aqui_el_client_secret_de_discord
REDIRECT_URI=https://soniabot.playorch.tech/auth/callback
SESSION_SECRET=genera_una_cadena_larga_y_aleatoria
PORT=3000
NODE_ENV=development
